<table
  cellpadding="0"
  cellspacing="0"
  border="0"
  style="font-size: large; font-family: Tahoma; width: 100%;"
>
  <tr>
    <td style="vertical-align: top;  width: 150px;">
      <img
        src="https://res.cloudinary.com/devzkmhon/image/upload/v1717169277/sincrosav/QR_mvqfgr.png"
        alt="QR Code"
        width="130"
        style="max-width: 130px;"
      />
    </td>
    <td style="vertical-align: top;">
      <table
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="font-size: large; font-family: Tahoma;"
      >
        <tr>
          <td style="vertical-align: top; padding-bottom: 10px;">
            <img
              src="https://res.cloudinary.com/devzkmhon/image/upload/v1717169288/sincrosav/sincros_hytv6v.png"
              alt="Sincros AV"
              width="150"
              style="max-width: 150px;"
            />
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top; padding-bottom: 10px;">
            <h1
              style="margin: 0; font-size: 24px; color: #000; font-weight: 700;"
            >
              MARCELO REMESEIRO
            </h1>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top; padding-bottom: 5px;">
            <table
              cellpadding="0"
              cellspacing="0"
              border="0"
              style="font-size: large; font-family: Tahoma;"
            >
              <tr>
                <td style="vertical-align: middle; padding-right: 10px;">
                  <img
                    src="https://res.cloudinary.com/devzkmhon/image/upload/v1717171232/sincrosav/1_w5dccf.png"
                    alt="Phone"
                    width="24"
                    style="vertical-align: middle;"
                  />
                </td>
                <td style="vertical-align: middle;">
                  <a
                    href="tel:+34 626 826 613"
                    style="text-decoration: none; color: #000; font-size: 14px;"
                    >+34 626 826 613</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top; padding-bottom: 5px;">
            <table
              cellpadding="0"
              cellspacing="0"
              border="0"
              style="font-size: large; font-family: Tahoma;"
            >
              <tr>
                <td style="vertical-align: middle; padding-right: 10px;">
                  <img
                    src="https://res.cloudinary.com/devzkmhon/image/upload/v1717171232/sincrosav/2_veflji.png"
                    alt="Website"
                    width="24"
                    style="vertical-align: middle;"
                  />
                </td>
                <td style="vertical-align: middle;">
                  <a
                    href="https://www.sincrosav.com"
                    style="text-decoration: none; color: #000; font-size: 14px;"
                    >www.sincrosav.com</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top; padding-bottom: 5px;">
            <table
              cellpadding="0"
              cellspacing="0"
              border="0"
              style="font-size: large; font-family: Tahoma;"
            >
              <tr>
                <td style="vertical-align: middle; padding-right: 10px;">
                  <img
                    src="https://res.cloudinary.com/devzkmhon/image/upload/v1717171232/sincrosav/3_zmditi.png"
                    alt="Email"
                    width="24"
                    style="vertical-align: middle;"
                  />
                </td>
                <td style="vertical-align: middle;">
                  <a
                    href="mailto:info@sincrosav.com"
                    style="text-decoration: none; color: #000; font-size: 14px;"
                    >info@sincrosav.com</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="margin-top: 20px;"
      >
        <tr>
          <td style="padding-right: 10px;">
            <a href="http://linkedin.com/in/marceloremeseiro">
              <img
                src="https://res.cloudinary.com/devzkmhon/image/upload/v1717171232/sincrosav/4_rlghzc.png"
                alt="LinkedIn"
                width="24"
              />
            </a>
          </td>
          <td style="padding-right: 10px;">
            <a href="https://www.instagram.com/streamingpro_insta/">
              <img
                src="https://res.cloudinary.com/devzkmhon/image/upload/v1717171233/sincrosav/5_yupwxy.png"
                alt="Instagram"
                width="24"
              />
            </a>
          </td>
          <td style="padding-right: 10px;">
            <a href="https://www.youtube.com/@streaming-pro/videos">
              <img
                src="https://res.cloudinary.com/devzkmhon/image/upload/v1717171233/sincrosav/7_raboxo.png"
                alt="YouTube"
                width="24"
              />
            </a>
          </td>
          <td>
            <a href="https://www.tiktok.com/@streamingpro_">
              <img
                src="https://res.cloudinary.com/devzkmhon/image/upload/v1717171234/sincrosav/9_jcw18m.png"
                alt="TikTok"
                width="24"
              />
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
