---
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";
import Redes from "../components/Redes.astro";
import Welcome from "../components/Welcome.astro";
import TarjetaAudiovisuales from "../components/TarjetaAudiovisuales.astro";
import TarjetaBroadcast from "../components/TarjetaBroadcast.astro";
import TarjetaStreaming from "../components/TarjetaStreaming.astro";
import TarjetaContenidos from "../components/TarjetaContenidos.astro";

import Trabajos from "../components/Trabajos.astro";
import Services from "../components/Services.astro";
import PastillaRedes from "../components/PastillaRedes.astro";
import Cookies from "../components/Cookies.astro";
---

<Layout title="Lumar Solutions">
  <div class="container mx-auto">
    <PastillaRedes />
    <Video />
    <Redes />
    <Welcome />
    <TarjetaBroadcast titulo="BROADCAST" foto="/assets/broadcast.jpg" />
    <TarjetaAudiovisuales titulo="AUDIOVISUALES" foto="/assets/palau.jpg" />
    <TarjetaStreaming titulo="STREAMING" foto="/assets/streaming.jpg" />
    <TarjetaContenidos titulo="CONTENIDOS" foto="/assets/contenidos.png" />
    <div class="container mx-auto mt-8">
      <h1 class="text-center text-blanco text-3xl">QUE TENEMOS PARA TI</h1>
      <div class="grid grid-cols-2 xl:grid-cols-4 gap-4 mt-8 mx-auto">
        <Services titulo="EQUIPAMIENTO PROFESIONAL" />
        <Services titulo="PERSONAL CUALIFICADO" />
        <Services titulo="STREAMING" />
        <Services titulo="PANTALLAS DE LED" />
        <Services titulo="LUCES" />
        <Services titulo="SONIDO" />
        <Services titulo="CONTENIDOS" />
        <Services titulo="CREATIVIDAD" />
        <Services titulo="CARTELERÃA" />
        <Services titulo="PLANOS" />
        <Services titulo="RENDERS" />
        <Services titulo="CATERING" />
      </div>
    </div>
    <Trabajos />
  </div>
</Layout>
<Cookies />
