---
const contactInfo = {
  phone: "+34 626 826 613",
  email: "info@lumarsolutions.com"
};
---

<div class="h-auto w-full mt-24 text-blanco">
  <h2 class="text-center font-semibold text-3xl mb-4">Contacta con nosotros</h2>
  <p class="text-center text-xl mb-4 p-4">
    Llámanos por teléfono, envíanos un email o contáctanos por nuestras redes sociales y estaremos encantados de ayudarte.
  </p>
  <div class="text-center mb-4 text-xl">
    <p class="font-semibold">Teléfono:</p>
    <p>{contactInfo.phone}</p>
  </div>
  <div class="text-center mb-4 text-xl">
    <p class="font-semibold">Email:</p>
    <p>{contactInfo.email}</p>
  </div>
  
</div>
