<footer>
  
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <hr class="mt-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:mt-8" />
    <div class="flex justify-center flex-col items-center">
      <img src="/assets/svg/LumarLogoColor.png" class="h-36 md:h-36 mb-4" alt="nombreEmpresa">
      <p class="text-white text-2xl font-bold mb-8">Lumar Solutions Group</p>
    </div>
    <div class="flex justify-between">
      <div class="flex justify-around w-full">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-white uppercase"
          >
            Siguenos
          </h2>
          <ul class="text-white font-medium">
            <li class="flex justify-start items-center">
              <span>LinkedIn</span>
              <a
                href="https://www.linkedin.com/company/lumarsolutions"
                target="_blank"
                class="p-2"
              >
                <img src="/assets/svg/linkedin.svg" alt="" class="size-6" />
              </a>
            </li>
            <li class="flex justify-start items-center">
              <span>Intagram</span>
              <a
                href="https://www.instagram.com/lumarsolutionsgroup"
                class="p-2"
                target="_blank"
              >
                <img src="/assets/svg/instagram.svg" alt="" class="size-6" />
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-white uppercase"
          >
            Legal
          </h2>
          <ul class="text-white font-medium">
            <li class="mb-4">
              <a href="/politicas" class="hover:text-white">Politicas de Privacidad</a>
            </li>
            <li>
              <a href="/terminos" class="hover:text-white">Términos y condiciones</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-white sm:text-center"
        >© 2024 Mabedev™ . All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
