<nav class="bg-grisOscuro opacity-95 fixed w-full z-50">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex items-end justify-center gap-1">
      <img src="/assets/svg/LumarLogoColor.png" class="h-12 md:h-12" alt="Logo" />
      <p class="text-blanco text-4xl font-bold" >Lumar Solutions Group</p>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <a href="/contacto">
        <button
          type="button"
          class="text-blanco bg-primary hover:scale-125 transition focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center"
          >Contacta</button
        >
      </a>
    </div>
  </div>
</nav>
