<nav class="bg-primary opacity-95 fixed w-full z-50">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex items-center gap-3">
      <img src="/assets/svg/LumarLogoColor.png" class="h-12 sm:h-14 md:h-16" alt="Logo" />
      <p class="text-blanco text-xl sm:text-2xl md:text-3xl font-bold">Lumar Solutions Group</p>
    </a>
    <div class="flex md:order-2">
      <a href="/contacto">
        <button
          type="button"
          class="text-blanco bg-secundario hover:scale-110 transition duration-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 sm:px-4 sm:py-2 text-center"
          >Contacta</button
        >
      </a>
    </div>
  </div>
</nav>
