<div
  class="hidden md:block fixed top-1/3 bg-negro opacity-65 p-2 rounded-tr-lg rounded-br-lg z-50"
>
  <a href="https://www.linkedin.com/company/lumarsolutions" target="_blank" class="pb-4">
    
    <img
      src="/assets/svg/linkedin.svg"
      alt=""
      class="size-10 cursor-pointer hover:scale-125 transition"
    />
  </a>

  <a href="https://www.instagram.com/lumarsolutionsgroup/" target="_blank">
    <img
      src="/assets/svg/instagram.svg"
      alt=""
      class="size-10 cursor-pointer hover:scale-125 transition"
    />
  </a>

<!--   <a href="https://x.com/" target="_blank">
    <img
      src="/assets/svg/x.svg"
      alt=""
      class="size-10 cursor-pointer hover:scale-125 transition"
    />
  </a> -->

 <!--  <a href="https://www.youtube.com/@streaming-pro/videos" target="_blank">
    <img
    src="/assets/svg/youtube.svg"
    alt=""
    class="size-10 cursor-pointer hover:scale-125 transition"
  />
  </a> -->


</div>
