<div class="h-auto w-full mt-24 text-blanco p-4">
  <h2 class="text-center font-semibold text-3xl mb-8">
    Políticas de Privacidad
  </h2>
  
  <div class="max-w-4xl mx-auto">
    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">Introducción</p>
      <div class="text-pretty leading-relaxed">
        <p>
          En Lumar Solutions Group, respetamos su privacidad y nos comprometemos a proteger cualquier información que pueda compartir con nosotros. Esta política describe nuestras prácticas de privacidad y el manejo de la información en nuestro sitio web.
        </p>
      </div>
    </div>

    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">Recopilación y Uso de Información</p>
      <div class="text-pretty leading-relaxed">
        <p>
          Recopilamos información de contacto únicamente cuando usted la proporciona voluntariamente a través de nuestros formularios de contacto. Esta información se utiliza exclusivamente para responder a sus consultas y mejorar nuestros servicios. No compartimos su información con terceros sin su consentimiento expreso.
        </p>
      </div>
    </div>

    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">Cookies y Tecnologías de Seguimiento</p>
      <div class="text-pretty leading-relaxed">
        <p>
          Utilizamos cookies esenciales para garantizar el funcionamiento básico del sitio web. Estas cookies no rastrean información personal y se utilizan únicamente para mejorar su experiencia de navegación.
        </p>
      </div>
    </div>

    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">Enlaces a Otros Sitios Web</p>
      <div class="text-pretty leading-relaxed">
        <p>
          Nuestro sitio web puede contener enlaces a otros sitios web de interés. Sin embargo, una vez que haya utilizado estos enlaces para salir de nuestro sitio, no tenemos control sobre esos otros sitios web. No podemos ser responsables de la protección y privacidad de cualquier información que proporcione mientras visita tales sitios.
        </p>
      </div>
    </div>

    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">Cambios a Esta Política</p>
      <div class="text-pretty leading-relaxed">
        <p>
          Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página.
        </p>
      </div>
    </div>
  </div>
</div>
