<div class="h-auto w-full mt-24 text-blanco">
  <h2 class="text-center font-semibold text-3xl mb-4">
    Políticas de Privacidad
  </h2>
  <div>
    <p class="text-pretty text-xl m-4 underline">Introducción</p>
    <div class="text-pretty mx-4">
      <p>
        En Lumar Solutions, respetamos su privacidad y estamos comprometidos a
        proteger la información personal que comparte con nosotros. Esta
        política de privacidad describe cómo manejamos la información que
        recopilamos a través de nuestro sitio web.
      </p>
    </div>
  </div>
  <div>
    <p class="text-pretty text-xl m-4 underline">Recopilación de Información</p>
    <div class="text-pretty mx-4">
      <p>
        No recopilamos información personal a través de este sitio web. No utilizamos formularios de contacto, no vendemos productos ni servicios en línea, y no implementamos cookies para rastrear a los usuarios.
      </p>
    </div>
  </div>
  <div>
    <p class="text-pretty text-xl m-4 underline">Uso de la Información
    </p>
    <div class="text-pretty mx-4">
      <p>
        Como no recopilamos ninguna información personal, no hay datos que se utilicen, compartan o almacenen.
      </p>
    </div>
  </div>
  <div>
    <p class="text-pretty text-xl m-4 underline">Enlaces a Otros Sitios Web

    </p>
    <div class="text-pretty mx-4">
      <p>
        Nuestro sitio web puede contener enlaces a otros sitios web de interés. Sin embargo, una vez que haya utilizado estos enlaces para salir de nuestro sitio, no tenemos control sobre esos otros sitios web. No podemos ser responsables de la protección y privacidad de cualquier información que proporcione mientras visita tales sitios.      </p>
    </div>
  </div>
  <div>
    <p class="text-pretty text-xl m-4 underline">Cambios a Esta Política


    </p>
    <div class="text-pretty mx-4">
      <p>
        Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página. </p>
    </div>
  </div>
</div>
