
  <div
    class="bg-gradient-to-r from-transparent to-primary h-16 px-4 flex flex-wrap items-center justify-between mx-auto p-4 md:hidden"
  >
    <a href="https://www.linkedin.com/company/lumarsolutions"  target="_blank" class="bg-black rounded-full p-2">
      <img src="/assets/svg/linkedin.svg" alt="" class="size-6" />
    </a>
    <!-- <a href="https://www.youtube.com/@streaming-pro/videos" target="_blank" class="bg-black rounded-full p-2">
      <img src="/assets/svg/youtube.svg" alt="" class="size-6" />
    </a> -->
    <a href="https://www.instagram.com/lumarsolutionsgroup/" target="_blank" class="bg-black rounded-full p-2">
      <img src="/assets/svg/instagram.svg" alt="" class="size-6" />
    </a>
    <!-- <a href="https://x.com/Marcelo_Bcn" target="_blank" class="bg-black rounded-full p-2">
      <img src="/assets/svg/x.svg" alt="" class="size-6" />
    </a> -->
  </div>
  

