<div class="h-auto w-full mt-24 text-blanco">
  <h2 class="text-center font-semibold text-3xl mb-4">
    Términos y Condiciones
  </h2>
  <div>
    <p class="text-pretty text-xl m-4 underline">Introducción</p>
    <div class="text-pretty mx-4">
      <p>
        Estos términos y condiciones rigen el uso de nuestro sitio web. Al
        utilizar nuestro sitio, acepta estos términos en su totalidad.
      </p>
    </div>
  </div>
  <div>
    <p class="text-pretty text-xl m-4 underline">Uso del Sitio Web</p>
    <div class="text-pretty mx-4">
      <p>
        Nuestro sitio web se proporciona para su uso personal y no comercial.
        Usted no debe usar nuestro sitio web de ninguna manera que cause, o
        pueda causar, daño al sitio web o menoscabo de la disponibilidad o
        accesibilidad del sitio web.
      </p>
    </div>
  </div>
  <div>
    <p class="text-pretty text-xl m-4 underline">
      Limitación de Responsabilidad
    </p>
    <div class="text-pretty mx-4">
      <p></p>
      Aunque nos esforzamos por mantener la información en nuestro sitio web actualizada
      y correcta, no garantizamos la precisión, integridad ni actualidad de la información.
      No seremos responsables por cualquier pérdida o daño que pueda derivarse del
      uso de la información contenida en este sitio web.
    </div>
  </div>
  <div>
    <p class="text-pretty text-xl m-4 underline">Enlaces Externos</p>
    <div class="text-pretty mx-4">
      <p>
        Nuestro sitio web puede contener enlaces a sitios web externos que no
        son operados por nosotros. No tenemos control sobre el contenido y las
        prácticas de estos sitios, y no aceptamos responsabilidad por sus
        respectivas políticas de privacidad.
      </p>
    </div>
  </div>
  <div>
    <p class="text-pretty text-xl m-4 underline">Cambios a Estos Términos</p>
    <div class="text-pretty mx-4">
      <p>
        Nos reservamos el derecho de modificar estos términos y condiciones en
        cualquier momento. Las modificaciones se publicarán en esta página.
      </p>
    </div>
  </div>
</div>
