<div class="h-auto w-full mt-24 text-blanco p-4">
  <h2 class="text-center font-semibold text-3xl mb-8">
    Términos y Condiciones
  </h2>

  <div class="max-w-4xl mx-auto">
    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">Introducción</p>
      <div class="text-pretty leading-relaxed">
        <p>
          Al acceder y utilizar el sitio web de Lumar Solutions Group, usted acepta estos términos y condiciones en su totalidad. Si no está de acuerdo con alguna parte de estos términos, le rogamos que no utilice nuestro sitio web.
        </p>
      </div>
    </div>

    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">Propiedad Intelectual</p>
      <div class="text-pretty leading-relaxed">
        <p>
          Todo el contenido presente en este sitio web, incluyendo pero no limitado a textos, gráficos, logotipos, imágenes y software, está protegido por derechos de autor y es propiedad exclusiva de Lumar Solutions Group o de sus proveedores de contenido.
        </p>
      </div>
    </div>

    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">Uso del Sitio Web</p>
      <div class="text-pretty leading-relaxed">
        <p>
          Nuestro sitio web se proporciona para su uso personal y no comercial.
          Usted no debe usar nuestro sitio web de ninguna manera que cause, o
          pueda causar, daño al sitio web o menoscabo de la disponibilidad o
          accesibilidad del sitio web.
        </p>
      </div>
    </div>

    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">
        Limitación de Responsabilidad
      </p>
      <div class="text-pretty leading-relaxed">
        <p></p>
        Aunque nos esforzamos por mantener la información en nuestro sitio web actualizada
        y correcta, no garantizamos la precisión, integridad ni actualidad de la información.
        No seremos responsables por cualquier pérdida o daño que pueda derivarse del
        uso de la información contenida en este sitio web.
      </div>
    </div>

    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">Enlaces Externos</p>
      <div class="text-pretty leading-relaxed">
        <p>
          Nuestro sitio web puede contener enlaces a sitios web externos que no
          son operados por nosotros. No tenemos control sobre el contenido y las
          prácticas de estos sitios, y no aceptamos responsabilidad por sus
          respectivas políticas de privacidad.
        </p>
      </div>
    </div>

    <div class="mb-8">
      <p class="text-pretty text-xl mb-3 underline">Cambios a Estos Términos</p>
      <div class="text-pretty leading-relaxed">
        <p>
          Nos reservamos el derecho de modificar estos términos y condiciones en
          cualquier momento. Las modificaciones se publicarán en esta página.
        </p>
      </div>
    </div>
  </div>
</div>
